.header{
    height: 70px;
    background: #3c4a60;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 27px;
}


.container{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container p{
    font-size: 25px;
}




.navSearch{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: 35%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

.navA{
    transition: 0.3s;
    color:white;
    background: none;
    border: none;
    text-decoration: none;
}

.navA:hover{
    color: #789fe1;
    cursor: pointer;
}

